{% extends "layout.html "%}
{% block content %}
    <div class="container1">
      <h1>Parque Nacional Antisana</h1>
      <div class="cranet1">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/imagene_2/antisana1.png" alt="Card image cap">
          <div class="card-body">
            <h5>Geografía</h5>
            <p class="card-text">Provincia: NAPO, PICHINCHA
              <br>
              Extensión: 120000 hectáreas
              <br>
              Año de creación: 1.993
              <br>
              Rango Altitudinal: 1.400 - 5.758 metros
            <br>
            <br>
          </p>
            <a href="http://areasprotegidas.ambiente.gob.ec/es/areas-protegidas/reserva-ecol%C3%B3gica-antisana" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
        
      <div class="carnet2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/imagene_2/antisana2.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Es un área protegida la cual se localiza en la cordillera Real de los Andes, entre las provincias de Napo y Pichincha, y comprende los bosques andinos y páramos localizados en las planicies y estribaciones del volcán del mismo nombre. El volcán Antisana tiene una altura de 5 758 ms.n.m. </p>
          </div>
        </div>
      </div>

      <div class="carnet3">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/imagene_2/antisana3.png" alt="Card image cap">
          <div class="card-body">
            <h5>Recomendación</h5>
            <p class="card-text"> Vestimenta. Ropa abrigada, poncho de aguas o chompa impermeable en caso de lluvia o garúa. Calzado apropiado, tipo botines de media caña en caso de caminatas medianas o largas.</p>
            <a href="https://www.quito-turismo.gob.ec/news/la-reserva-ecologica-antisana-se-transforma-en-parque-nacional/" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>

      <div class="carnet4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/imagene_2/antisana4.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"> Los mamíferos están representados por 73 especies, pertenecientes a 23 familias. Aunque no hay mucha información sobre la fauna de la Reserva, se sabe que existen importantes poblaciones de algunos mamíferos altoandinos como el oso de anteojos (Tremarctos ornatus),</p>
          </div>
        </div>
      </div>
        
    </div>
{% endblock %}